@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@media (prefers-color-scheme: dark) {
  :root {
    --color: rgba(34,34,34,1);
    --color10: rgba(255,255,255,0.2);
    --color50: rgba(255,255,255,0.5);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: rgba(255,255,255,1);
    --color10: rgba(34,34,34,0.1);
    --color50: rgba(34,34,34,0.5);
  }
}

/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    background-color: $negro;
}*/
* {
  width: 100%;
  border-radius: 0.25rem;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin: 0 .5rem;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--color);
  height: 100vh;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: .5rem;
  max-width: 32rem;
}

body main header {
  min-height: 6rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main header h3 {
  font-size: 2.25rem;
  text-align: center;
  color: var(--color50);
}

body main header span {
  background: none;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: var(--color50);
  border: 1px solid var(--color50);
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body main header span:hover {
  color: var(--color50);
  background: var(--color50);
}

body main header span:hover {
  color: var(--color);
}

body main hr {
  margin-top: 1rem;
  margin-bottom: 0;
  border-color: var(--color10);
  border-width: 2px;
}

body main .ingresar {
  max-width: 31.75rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
  background: var(--color10);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body main .ingresar input {
  font-size: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--color50);
  background: none;
  border: none;
  outline: none;
}

body main .ingresar input::-webkit-input-placeholder {
  color: var(--color10);
}

body main .ingresar input:-ms-input-placeholder {
  color: var(--color10);
}

body main .ingresar input::-ms-input-placeholder {
  color: var(--color10);
}

body main .ingresar input::placeholder {
  color: var(--color10);
}

body main .ingresar button {
  background: none;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: var(--color50);
  border: 1px solid var(--color50);
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
  opacity: 0;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

body main .ingresar button:hover {
  color: var(--color50);
  background: var(--color50);
}

body main .ingresar button.active {
  opacity: 1;
  pointer-events: auto;
}

body main .ingresar:hover {
  background: var(--color50);
}

body main .lista {
  max-width: 31.25rem;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .lista li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: var(--color10);
}

body main .lista li input {
  accent-color: var(--color);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 1rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

body main .lista li input:checked + p {
  text-decoration: line-through;
  opacity: 0.65;
}

body main .lista li p {
  max-width: 18.125rem;
  color: var(--color50);
  font-size: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: .5rem;
}

body main .lista li .copiar {
  background: none;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: green;
  border: 1px solid green;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: .5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body main .lista li .copiar:hover {
  color: var(--color50);
  background: green;
}

body main .lista li .compartir {
  background: none;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: blue;
  border: 1px solid blue;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: .5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body main .lista li .compartir:hover {
  color: var(--color50);
  background: blue;
}

body main .lista li .eliminar {
  background: none;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: red;
  border: 1px solid red;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body main .lista li .eliminar:hover {
  color: var(--color50);
  background: red;
}
